<template>
        <div id="app">
          <table class="table table-striped table-dark table-bordered">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Todo</th>
                        <th scope="col">Time added</th>
                        <!-- <th scope="col">Time edited</th> -->
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr v-for="todo in todos" :key="todo.id">
                        <td>
                            <label for="id">{{todo.id}}</label>
                        </td>
                        <td :key="todo.id" @click="TodoUpdate(todo)">
                            {{todo.name}}
                        </td>
                        <td>
                            <label for="timeAdded">{{todo.timeAdded}}</label>
                        </td>
                        <!--
                        <td>
                            <label for="timeEdited">{{todo.timeEdited}}</label>
                        </td>
                        -->
                        <td>
                            <b-button variant="danger" v-model="todoName" v-on:click="TodoDel(todo)">X</b-button>
                        </td>
                    </tr>
                </tbody>
                
            </table>
            <br> <br>
              <input type="text" v-model="todoName" @keyup.enter="addTodo" placeholder="add/update todo"> <br> <br>
              <router-link to="json">JSON</router-link>
            </div>
        </template>

<script>
import axios from 'axios';
import Vue from 'vue';
import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import VueRouter from 'vue-router';
import Routes from './routes.js';
Vue.use(BootstrapVue);
Vue.use(VueRouter);

const router = new VueRouter({
  routes: Routes,
  mode: 'history'
});

const APIURL = 'http://localhost:3000/todos';
let updating = false;
let updateId = 0;
let updateListId = 0;

export default {
  name: 'app',
  router: router,
  data() {
    return {
      todos: [],
      todoName: ''
       };
  },
  async created() {
    try {
      const res = await axios.get(APIURL);

      this.todos = res.data;
    } catch(e) {
      alert(e); 
    }
  },
  methods: {
    async addTodo() {
      if(this.todoName != "") {
        if(updating == false) {
        let date = new Date();
        let timeAdded = date.getDate() + '-' + 
                        (date.getMonth()+1) + '-' +
                        date.getFullYear() + ' / ' + 
                        date.getHours() + ':' +
                        date.getMinutes() + ':' +
                        date.getSeconds();

        const res = await axios.post(APIURL, {name: this.todoName, timeAdded: timeAdded});
        this.todos = [...this.todos, res.data];

        this.todoName = '';

        } else if (updating == true) {
        /*let date = new Date();
        let timeEdited = date.getDate() + '-' + 
                        (date.getMonth()+1) + '-' +
                        date.getFullYear() + ' / ' + 
                        date.getHours() + ':' +
                        date.getMinutes() + ':' +
                        date.getUTCSeconds();
                        */
          axios.put(`${APIURL}/${updateId}`, { name: this.todoName/*, timeEdited: timeEdited*/});
          updating = false;

        this.todos[updateListId].name = this.todoName;

          this.todoName = '';

        }
      } else {
        alert("Type something");
      }
    },
    async TodoUpdate(todo) {
      this.todoName = todo.name;
      updating = true;
      updateId = todo.id;
      updateListId = this.todos.indexOf(todo);
    },
    async TodoDel(todo) {
      const url = `${APIURL}/${todo.id}`;
      axios.delete(url);
      
      const idx = this.todos.indexOf(todo);
      this.todos.splice(idx, 1);
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

ul {
  margin: 0 30vw 0;
  padding: 0px;

}

li {
  list-style: none;
  font-size: 18px;
}

.color {
  color: red;
}

</style>
