<template>

  <div id="app">
    <h1>Todos</h1>
    <input type="text" v-model="todoName" @keyup.enter="addTodo">
    <ul> <br>
      <li v-for="todo of todos" :key="todo.id">{{todo.name}}</li>
    </ul>
    <br><br>
    <b-dropdown text="Delete Todo" class="m-md-2">
    <b-dropdown-item v-for="todo of todos" :key="todo.id" @click="TodoDel(todo)">{{todo.name}}</b-dropdown-item>
  </b-dropdown>
  </div>
</template>


<script>
import axios from 'axios';
import Vue from 'vue';
import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
Vue.use(BootstrapVue);

const APIURL = "http://localhost:3000/todos";


export default {
  name: 'app',
  data() {
    return {
    todos: [],
    todoName: "",
    todo: ""
    };
  },
  async created() {
    try {
      const res = await axios.get(APIURL);

      this.todos = res.data;
    } catch(e) {
      //console.error(e);
    }
  },
  methods: {
    async addTodo() {
      const res = await axios.post(APIURL, {name: this.todoName});

      this.todos = [...this.todos, res.data];

      this.todoName = "";
    },
      async refresh() {
      const res = await axios.get(APIURL);

      this.todos = res.data;
    },
    async TodoDel(todo) {
      const url = `${APIURL}/${todo.id}`;
      return axios.delete(url);
    }
  },
};

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li{
  list-style: none;
}

</style>
