body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #000 !important;
}


section {
    width: 100% !important;
    height: 100vh !important;
    float: left;
    min-height: 100%;
}

#video {
    position: absolute;
    z-index: 0;
    top: 0px;
    min-width: 100%; 
    min-height: 100%;

}

.welcometext {
    position: relative;
    z-index: 1;
}

.welcometext h1 {
    position: relative;
    margin-top: 14rem;
    font-size: 4rem;
    text-align: center;
    z-index: 1;
    color: #f00;
    font-weight: bolder;
    font-family: Verdana;
    line-height: 1;
}


.welcometext p {
    color: blue;
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    font-family: Verdana;
}

.welcometext p:hover {
    font-weight: bold;
}

section.about {
    margin-top: 150px;
    padding: 100px;
    box-sizing: border-box;
    background-color: #000;
    font-family: Verdana;
}

section.about h2 {
    font-size: 2.5rem;
    margin: 0;
    margin-left: 2.7rem;
    padding: 0;
    color: #fff;
    float: left;
    font-family: Verdana;
}

section.about p {
    font-size: 2rem;
    margin-left: 20rem;
    color: #fff;
    text-align: left;
    margin-top: 3rem;
    font-family: 'Times New Roman';
}

section.contact {
    margin-top: 40px;
	background:#333333;
	color:#f4f4f4;
	padding-bottom:80px;
    background-size: cover;
    height: 100vh;
}

section.contact h1,h2,h3 {
	font-family: 'Patua One', cursive;
	text-transform: uppercase;
	letter-spacing:1px;
}

#ContactSetting {
    margin-top: 150px;
}

section.contact p {
    margin-top: 1rem;
	font-size:18px;
	line-height:1.6em;
}

section.contact a{
    color:#26a5d3;
}

section.contact a:hover, a:focus {
	text-decoration:none;
	color:#26a5d3;
}

textarea.form-control{
    height:100px;
}

nav {
    width: 100%;
    height: 40px;
    background: rgba(0, 0, 0, 8);
    border-top: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: fixed;
    top: 0;
    z-index: 2;
}

nav ul {
    display: flex;
    height: 40;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
}
nav ul li a.hover,
nav ul li a.active {
    background: #f00;
}

li {
    color: red;
}
li span {
    color: black;
}

ul {
    list-style: none;
}

#Brix {
    float: left;
}

