<template>
    <div class="container white" id="app">
        <h1>Add</h1>
        <input type="text" v-model="navn" placeholder="Navn"> <br> <br>
        
        <h3>Email:</h3>
        <input type="text" v-model="email" placeholder="Email"> <br> <br>

        <h3>Hold:</h3>
    <b-form-select class="input" v-model="hold_selected" :options="hold_options"></b-form-select> <br> <br>

    <div class="container">
      <h2>Elev info:</h2>
      <span>Navn: </span><span style="color: red">{{ navn }}</span> <br>
      <span>Email: </span><span style="color: red">{{ email }}</span> <br>
      <span>Hold: </span><span style="color: red">{{ hold_selected }}</span> <br> <br>
    </div>

    <button class="btn btn-primary" @click="add">Add</button>



    </div>
</template>

<script>
import axios from 'axios';
const APIURL = 'http://localhost:8081/api/elever';

  export default {

    data() {
      return {
          navn: '',
          email: '',
        hold_selected: null,
        hold_options: []
      };
    },
    async created() {
    try {
      const res = await axios.get('http://localhost:8081/api/hold');

    for (let i = 0; i < res.data.length; i++) {
      const element = res.data[i];

      this.hold_options.push(element.navn);
    }

    } catch(e) {
      alert(e); 
    }
  },
    methods: {
      add() {
        if (this.navn && this.email && this.hold_selected) {
          let elev = {
            name: this.navn, 
            email: this.email, 
            hold: this.hold_selected
          }

          axios.post(APIURL, elev);

          location.reload()
        } else {
          alert('Worng inputs')
        }
      }

    }
  }
</script>

<style>
body {
    color: white !important;
    vertical-align: center;
    text-align: center;
}

.input {
    width: auto;
}

.white {
  color: white !important;
}
</style>