<template>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="nav navbar-nav">
            <router-link style="color: white" class="btn" to="/">Home</router-link>
            <router-link style="color: white" class="btn" to="/elever">Elever</router-link>
            <router-link style="color: white" class="btn" to="/fag">Fag</router-link>
            <router-link style="color: white" class="btn" to="/hold">Hold</router-link>
            <router-link style="color: white" class="btn" to="/holdfag">HoldFag</router-link>
        </div>
    </nav>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

export default {
    
}
</script>

<style scoped>

</style>