<template>
    <div>
        <div class="overflow-auto">
            <b-table striped hover class="table table-dark " id="my-table" :items="items" :per-page="perPage" :current-page="currentPage" large></b-table>
            <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table">
            </b-pagination>
            <p class="mt-3" style="color: white;">Current Page: {{ currentPage }}</p>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import VueRouter from 'vue-router'

Vue.use(BootstrapVue);
Vue.use(VueRouter);

const APIURL = 'http://localhost:8081';

export default {
    data() {
        return {
            perPage: 5,
            currentPage: 1,
            items: []
        }},
        async created() {
            try {
                const res = await axios.get(APIURL + '/api/fag');

                this.items = res.data;
            } catch (e) {
                alert(e);
            }
    },
    
    computed: {
        rows() {
            return this.items.length
        }
    }
}
</script>

<style scoped>
body {
    background-color: black;
}
</style>