<template>
  <div>
    <br><br>

      <b-button v-b-modal="'my-modal'">Show JSON</b-button>
      <b-modal id="my-modal">JSON DATA.........................</b-modal>

    </div>
</template>

<script>

</script>
