ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }

  #liShop {
    float: right !important;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #63b3f4;
  }

  .logo {
    float: left;
    position: relative;
    width: 46px;
    height: 46px;
  }

  #homepage {
    color: white;
  }