@media screen and (min-width: 376px){
    .label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        text-align: center;
    }

    h1, h2, h3, h4, h5 {
        color: white;
    }
    body {
        text-align: center;
        margin: auto;
        background-color: black !important;
    }

    #bruger {
        color: #63b3f4;
        font-size: 32px;
    }
    
    .input {
        height: 25px;
        width: 300px;
        margin: auto;
    }
    
    #form {
        text-align: center;
    }
    
    
    .header {
        color: white;
        text-align: center;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        margin-top: 150px;
      }
    
      .button {
        background-color: white;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 20px;
        width: 180px;
      }
    
      .button:hover {
          background-color: #63b3f4;
          color: white;
      }
    
    footer {
        position: relative;
        height: 300px;
        width: 100%;
        background-color: black;
    }

    #isadmin {
        color: white !important;
    }

    /* Customize the label (the container) */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;

  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
    
    p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 40px;
        font-size: 1rem;
        text-align: center;
        bottom:0;
    }
  }
  @media screen and (max-width: 768px){
    .label {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: white;
        text-align: center;
    }
    
    body {
        background-color: black;
    }
    
    .input {
        height: 25px;
        width: 300px;
        vertical-align: middle;
    }
    
    #form {
        margin-left: 140px;
        margin-right: auto;
    }
    
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        margin-top: 150px;
      }
    
      .button {
        background-color: #63b3f4;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        border-radius: 50%;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin-left: 50px;
        margin-top: 20px;
        width: 200px;
      }
  }