.btn-gray {
    background-color: lightgray;
}

.btn-width {
    width: 50px;
}

.display {
    width: 120px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn-width200 {
    width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    float: right;
}

.dropdown-content input {
    float: right;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content input:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}