<template>
  <div>
    <b-row>
      <md-card md-with-hover v-for="item in items" :key="item.header">
        <md-ripple>
          <md-card-header>
              <div class="md-title">{{item.header}}</div>
          </md-card-header>

          <md-card-content>
            {{item.content}}
          </md-card-content>
          <md-card-actions>
          <md-button class="md-primary md-raised" :to="item.link">Select</md-button>
        </md-card-actions>
        </md-ripple>
      </md-card>
    </b-row>
  </div>
</template>

<script>
export default {

  data() {
    return {
      items: [ {
        id: "WoWClassicMenu",
        header: "WoW Classic",
        content: "Menu",
        link: "/wowclassic"
      },
        
      ]
    }
  }
    
}
</script>

<style scoped>
  .md-card {
    width: 250px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
  }
</style>