body {
    background-color: rgb(31, 31, 34);
}

h1 {
    color: blue;
    font-size: 80px;
    text-align: center;
}

#DivCalc {
    font-size: 40px;
    text-align: center;
    color: blue;
}

.input {
    width: auto;
    height: auto;
}

.button {
    background-color: green;
    border: 0;
    width: 40px;
    height: 40px;
    font-size: 35px;
}

#facitlabel {
    color: rgb(255, 65, 128);
    font-size: 130px;
}

#textarea {
    float: left;
    width: auto;
    height: auto;
}

.submit {
    background-color: green;
    border: 0;
    width: 100px;
    height: 50px;
    font-size: 20px;
}

select {
    background-color: whitesmoke;
    border: 0;
    color: darkblue;
    width: 300px;
}
