<template>
  <div id="app">
    <h1>Todos</h1>
    <input type="text" v-model="todoName" @keyup.enter="addTodo">
    <ul> <br>
      <li  v-for="todo of todos" :key="todo.id" @click="TodoUpdate(todo)">{{todo.name}}</li>
  </ul>
    <br><br>
    <b-dropdown text="Delete Todo" class="m-md-2">
    <b-dropdown-item v-for="todo of todos" :key="todo.id" @click="TodoDel(todo)">{{todo.name}}</b-dropdown-item>
  </b-dropdown>
  </div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue';
import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';
Vue.use(BootstrapVue);

const APIURL = 'http://localhost:3000/todos';
let updating = false;
let updateId = 0;
let updateListId = 0;

export default {
  name: 'app',
  data() {
    return {
      todos: [],
      todoName: ''
    };
  },
  async created() {
    try {
      const res = await axios.get(APIURL);

      this.todos = res.data;
    } catch(e) {
      alert(e); 
    }
  },
  methods: {
    async addTodo() {
      if(this.todoName != "") {
        if(updating == false) {
        const res = await axios.post(APIURL, {name: this.todoName});
        this.todos = [...this.todos, res.data];

        this.todoName = '';

        } else if (updating == true) {
          axios.put(`${APIURL}/${updateId}`, { name: this.todoName });
          updating = false;

        this.todos[updateListId].name = this.todoName;

          this.todoName = '';

        }
      } else {
        alert("Type something u cunt");
      }
    },
    async TodoUpdate(todo) {
      this.todoName = todo.name;
      updating = true;
      updateId = todo.id;
      updateListId = this.todos.indexOf(todo);
    },
    async TodoDel(todo) {
      const url = `${APIURL}/${todo.id}`;
      axios.delete(url);
      
      const idx = this.todos.indexOf(todo);
      this.todos.splice(idx, 1);
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

ul {
  margin: 0 30vw 0;
  padding: 0px;

}

li {
  list-style: none;
  font-size: 18px;
}

.color {
  color: red;
}

</style>
