<template>
    <div class="overflow-auto">
        <b-table striped hover class="table table-dark" id="my-table" :items="items" :per-page="perPage" :current-page="currentPage" large></b-table>
        <b-pagination v-model="currentPage" :total-rows="rows" :per-page="perPage" aria-controls="my-table"></b-pagination>
        <p class="mt-3" style="color: white;">Current Page: {{ currentPage }}</p>
    </div>
</template>

<script>
import axios from 'axios';

const APIURL = 'http://192.168.1.15:8081/data';

export default {
    data() {
        return {
            perPage: 15,
            currentPage: 1,
            items: []
        }},
        async created() {
            try {
                let res = await axios.get(APIURL);

                this.items = res.data;
            } catch (e) {
                alert(e);
            }
    },
    
    computed: {
        rows() {
            return this.items.length
        }
    }
}
</script>

<style>
#my-table {
    text-align: center;
}

</style>