﻿<!DOCTYPE html>
<html>
<head>
<title>Test</title>
</head>
<body>

<h1>Velkommen til vores første hjemmeside, håber du kan lide den ;)</h1>
<hr />
    <form
    <h3>Opret venligst en bruger.</h3>
    <h4>Brugernavn:</h4>
    <input id="Brugernavn" name="Brugernavn" type="text" required="required" />
    <h4>Password:</h4>
    <input id="Password" type="password" />
    <h4>Confirm password:</h4>
    <input id="CPassword" type="password" />
    <h4>Email:</h4>
    <input id="Email" type="text" />
    <p></p>
    <input id="Submit1" type="submit" value="submit" /> 

</body>
</html>