<template>
    <div id="app">
      
      <table class="table table-striped table-dark table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col-2">Todo</th>
                    <th scope="col">Time added</th>
                    <!-- <th scope="col">Time edited</th> -->
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            
            <tbody>
                <tr v-for="todo in todos" :key="todo.id">
                    <td>
                        <label for="id">{{todo.id}}</label>
                    </td>
                    <td :key="todo.id" @click="TodoUpdate(todo)">
                        {{todo.name}}
                    </td>
                    <td>
                        <label for="timeAdded">{{todo.timeAdded}}</label>
                    </td>

                    <!--
                    <td>
                        <label for="timeEdited">{{todo.timeEdited}}</label>
                    </td>
                    -->
                    
                    <td>
                        <b-button variant="danger" v-model="todoName" v-on:click="TodoDel(todo)">X</b-button>
                    </td>
                </tr>
            </tbody>
            
        </table>
        <b-pagination v-model="currentPage" :total-rows="rows"></b-pagination> <br> <br>

          <input type="text" v-model="todoName" @keyup.enter="addTodo" placeholder="Add a todo">
        </div>
    </template>