<template>
    <b-container>
        <b-embed type="iframe" aspect="16by9" src="https://classicdb.ch/?talent" allowfullscreen></b-embed>
    </b-container>
</template>

<script>
export default {

}
</script>

<style>

</style>