<template>
  <div class="page-container">
    <md-app>
      <md-app-toolbar class="md-primary" md-elevation="0">
        <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
          <md-icon>menu</md-icon>
        </md-button>
      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>

          <div class="md-toolbar-section-end">
            <md-button class="md-icon-button md-dense" @click="toggleMenu">
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <md-list>
          <md-list-item to="wowclassic">
            <md-icon>today</md-icon>
            <span class="md-list-item-text">WoW Classic</span>
          </md-list-item>

          <md-list-item to="lol">
            <md-icon>wysiwyg</md-icon>
            <span class="md-list-item-text">LoL</span>
          </md-list-item>

          <md-list-item to="/mab">
            <md-icon>groups</md-icon>
            <span class="md-list-item-text">M&B</span>
          </md-list-item>
          
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <!--router-->
        <router-view></router-view>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
  export default {
    name: 'PersistentMini',
    data: () => ({
      menuVisible: false
    }),
    methods: {
      toggleMenu () {
        this.menuVisible = !this.menuVisible
      }
    }
  }
</script>

<style scoped>
.md-avatar-icon {
    margin-right: 32px !important;
}

a {
    margin-right: 32px;
}

  .md-app {
    min-height: 350px;
    border: 1px solid rgba(#000, .12);
  }

  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
</style>
