#Header {
    color: blue;
    text-align: center;
    background: transparent;
}

body {
    background-image: url("index.png");
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

#Container {
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


#Main {
    padding: 20px;
    float: center;
    width: 1200px;
    margin: auto;
}

#NavBar {
    width: 200px;
    height: 375px;
    float: left;
    border-style: solid;
    padding: 10px;
    line-height: 2;
    font-size: 20px;
}

#Footer {
    clear: both;
}

#NavBar .selected {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: red;
}

#NavBar ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    margin: auto;
}

