body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black !important;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.pic {
    width: 1900px;
    height: 899px;
}

.pics {
    margin-left: 1vw;
    width: 1400px;
    height: 750px;
}

.portfolio {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 3vh;
}
.portfolio a {
    font-size: 22px;
}

.application {
    background: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 0px 80px 0px 80px;
    margin-top: 7vh;
    line-height: 2;

}

.contact {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 6vh;
    line-height: 3;
}

.white {
    color: white !important;
    border-color: white !important;
}

textarea.form-control{
    height:100px;
}