body {
  background-color: #000000 !important;
}

iframe {
  height: 93.4vh;
  width: 100%;
}

div button::active {
  color: #000000 !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item:hover>.dropdown-menu {
  display: block;
}
ul li{
list-style-type:none;
display: inline;
}

.navbar-nav .nav-link{display:inline-block;}
   
.ml-auto {display:inline-block!important;}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */