$colorActive : #000000;

body {
    background-color: $colorActive;
}

iframe {
    height: 93.4vh;
    width: 100%;
}

div button::active {
    color: $colorActive !important
}

.darkmode {
    background-color: black !important;
    color: white;
}